body {
  background-color: black;
}

section {
  background-color: black;
  color: white;
}

section p {
  font-size: 20px;
  padding: 32px;
}

#top {
  height: 100vh;
  width: 100vw;
  background: url(https://pbs.twimg.com/media/EMoYcD9XkAYHEXC.jpg) no-repeat;
  opacity: 0.6;
  --webkit-background-size: cover;
  background-size: cover;
}

#top h1 {
  font-size: 5vw;
  padding: 0;
  opacity: 1;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .icon-scroll {
    position: relative;
  }
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}

#sec1 {
  width: 100%;
}

#sec1 p {
  text-align: center;
  padding: 200px;
}

#sec2 {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#sec2 div {
  flex: 3;
  order: 1;
  background: url(https://www.gannett-cdn.com/presto/2022/01/11/PWIL/503e37f2-208f-4780-8637-7129498c72a9-_F9PvIRg.jpeg)
    no-repeat;
  opacity: 0.7;
  height: 100%;
  width: 62%;
  --webkit-background-size: cover;
  background-size: cover;
}

.show_on_hover {
  transition: opacity 0.2s;
  cursor: pointer;
}

.show_on_hover p {
  opacity: 0;
  color: rgb(205, 14, 157);
  transition: opacity 0.2s;
}

.show_on_hover:hover {
  opacity: 0.4 !important;
}

.show_on_hover:hover p {
  opacity: 1;
}

#sec2 p {
  flex: 2;
  order: 2;
}
