.hole {
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(50% -100px);
  left: calc(50% -100px);
  border-radius: 50%;
  background: url(../images/philly_pic.jpg);
  opacity: 0.9;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 30px 30px rgba(3, 61, 3, 0.4);
  z-index: 3;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  mix-blend-mode: overlay;
  z-index: 0;
}

.text {
  position: absolute;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 600;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 590px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

@media (max-width: 991px) {
  .hole {
    top: -146px;
    left: -148px;
    z-index: 0;
    max-width: 0;
    max-height: 0;
    display: none;
    position: fixed;
  }
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
  .intro-text {
    font-size: 0.7rem;
  }
}
