body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
  overflow: hidden;
}

#file-input,
#label-container,
#preview {
  display: none;
  overflow: hidden;
}

button {
  position: fixed;
  cursor: pointer;
  font-size: 1.7em;
  background: rgba(255, 2555, 255, 0.8);
  padding: 8px 35px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  z-index: 3;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover {
  letter-spacing: 6px;
}

#background-image {
  height: 100vh;
  background-image: url(../Images/identify_page_background.jpg);
  opacity: 0.6;
  overflow: hidden;
  background-size: 110%, 110%;
  top: 0px;
  left: 0px;
}

p {
  position: absolute;
  color: rgb(196, 196, 196);
  z-index: 3;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.235em;
  max-width: 45%;
}
