@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --gradient-color: linear-gradient(
    0deg,
    rgba(17, 69, 56, 1) 0%,
    rgba(22, 29, 35, 1) 100%
  );
  --secondary-color: rgba(17, 69, 56, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Hamburger menu*/
#btnMenu {
  z-index: 333;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 50px;
  left: auto;
  right: 35px;
  transform: none;
}

#btnMenu .bar1,
#btnMenu .bar2 {
  background-color: #ffffff;
  transition: 0.5s;
  transform-origin: 0 0;
  width: 22px;
  height: 2px;
  margin-right: 0px;
  margin-bottom: 7px;
  display: block;
}

.colorWhite .bar1,
.colorWhite .bar2,
.colorWhite .bar3 {
  background-color: #ffffff;
}

.change .bar1 {
  filter: brightness(30);
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
  transform: rotate(-45deg) translate(-4px, 6px);
}

.change .bar2 {
  -webkit-filter: brightness(30);
  filter: brightness(30);
  transform-origin: 0 0;
  -webkit-transform: rotate(45deg) translate(-10px, -15px);
  transform: rotate(45deg) translate(-10px, -15px);
}

aside {
  position: fixed;
  z-index: 122;
  top: 0;
  left: 0;
  background: #010001;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: left;
  display: table;
  color: #444743;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-hide {
  display: none;
}

aside .secContent {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}

aside .secMainNavi {
  width: 35%;
  padding-top: 30px;

  float: left;
}

aside .secMainNavi li {
  margin: 0 0 25px -20px;
  font-size: 25px;
  opacity: 0;
  transition-delay: 0.5s;
}

aside .secMainNavi .naviSlideIn {
  margin-left: 0px;
  opacity: 1;
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;
}

aside .secMainNavi li a {
  width: 100%;
  padding: 0 0 3px 0px;
  color: #ffffff;
  display: block;
}

aside .secMainNavi li a:hover {
  text-decoration: none;
  color: #afc1b2;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0 0 0 0px;
  padding: 0 0 0 0px;
  list-style: none;
  display: block;
}

/*Hamburger Menu*/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  cursor: pointer;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.slider {
  background: var(--gradient-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 10000;
}

.intro-text {
  color: rgb(233, 233, 233);
  font-size: 1.5rem;
  z-index: 10000;
  font-weight: 300;
}

.hide {
  background: black;
  overflow: hidden;
  z-index: 10000;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
  z-index: 10000;
}

@media screen and (min-width: 200px) and (max-width: 959px) {
  .logoHolder {
    top: 28px;
    left: 35px;
    width: 200px;
    height: 20px;
  }

  aside .secMainNavi {
    width: 100%;
    padding-top: 0px;
    float: none;
  }

  aside .secMainNavi li {
    margin: 0 0 15px -20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1299px) {
  .logoHolder {
    top: 45px;
    left: 45px;
  }

  aside .secMainNavi li {
    margin: 0 0 20px -20px;
    font-size: 20px;
  }
}
