* {
  color: white;
}

:root {
  --table_top_header: rgb(39, 39, 39, 0.8);
  --table_primary_row_color: rgb(27, 27, 27, 0.8);
  --table_secondary_row_color: rgb(27, 27, 27, 0.8);
  --table_hover_color: rgba(0, 0, 0, 0.665);
}
body {
  background-color: black;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-image: url(https://images.pexels.com/photos/355321/pexels-photo-355321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  /* background: linear-gradient(45deg, #1e4e4d, #104217); */
  background-size: cover;
  background-position: 10% 100%;
  z-index: -1;
  opacity: 0.5;
}

#question_button {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  margin: 15px;

  padding: 10px 19px;
  font-size: 18px !important;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgba(29, 27, 27, 0.52);
}

#explain_box {
  position: fixed;
  width: inherit;
  height: inherit;
  max-width: 35%;
  top: 0;
  left: 0;
  margin: 55px;
  background-color: white;
  z-index: 5;
  border-radius: 4%;
  display: none;
}

#explain_box p {
  color: black !important;
  /* position: fixed;
  width: inherit;
  height: inherit;
  max-width: 28%;
  max-height: 28%; */
  margin: 10px;
  z-index: 6;
}

#table_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  max-height: 80%;
  top: 10%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#table_container::-webkit-scrollbar {
  display: none;
}

#location_table {
  width: 70%;
  border-collapse: collapse;
  table-layout: fixed;
}

#location_table tr {
  background-color: var(--table_secondary_row_color);
}

#location_table td,
#location_table th {
  word-wrap: break-word;
  padding: 8px;
}

#location_table tr:nth-child(even) {
  background-color: var(--table_primary_row_color);
}

#location_table tr:hover {
  background-color: var(--table_hover_color);
}

#location_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--table_top_header);
  color: rgb(255, 255, 255);
}

#add_entry_button {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  margin: 15px;

  padding: 7px 16px;
  font-size: 24px !important;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgba(29, 27, 27, 0.52);
}

#modal_bg {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
}

#add_entry_modal {
  position: relative;
  background-color: rgb(29, 29, 29);
  width: fit-content;
  min-width: 50%;
  padding: 10px;
  height: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

#add_entry_modal textarea,
select {
  background-color: rgb(96, 95, 95);
  border: none;
  min-width: 45%;
}

#add_entry_modal input {
  height: 45%;
}

#add_entry_modal button {
  padding: 10px 30px;
  background-color: rgb(34, 47, 43);
  color: white;
  border: none;
  cursor: pointer;
}

#modal_close {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 12px;
  font-weight: bold;
}

@media (max-width: 426px) {
  td,
  th {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  #explain_box {
    max-width: 60%;
  }
}
