* {
  color: white;
}

body {
  background-color: black;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-image: url(https://images.pexels.com/photos/1028223/pexels-photo-1028223.jpeg);
  /* background: linear-gradient(45deg, #1e4e4d, #104217); */
  background-size: cover;
  z-index: -1;
  opacity: 0.7;
}

#question_button {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  margin: 15px;

  padding: 8px 16px;
  font-size: 15px !important;
  border-radius: 50%;
  background-color: rgba(149, 197, 163, 0.666);
}

#explain_box {
  position: fixed;
  width: inherit;
  height: inherit;
  max-width: 35%;
  top: 0;
  left: 0;
  margin: 55px;
  background-color: white;
  z-index: 5;
  border-radius: 4%;
  display: none;
}

#explain_box p {
  color: black !important;
  /* position: fixed;
  width: inherit;
  height: inherit;
  max-width: 28%;
  max-height: 28%; */
  margin: 10px;
  z-index: 6;
}

#location_table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 80%;
  margin: 20px;
  opacity: 0.6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

#location_table tr {
  background-color: rgba(27, 33, 23, 0.855);
}

#location_table td,
#location_table th {
  word-wrap: break-word;
  padding: 8px;
}

#location_table tr:nth-child(even) {
  background-color: rgba(68, 88, 68, 0.382);
}

#location_table tr:hover {
  background-color: #647959c4;
}

#location_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0e3c1b;
  color: rgb(255, 255, 255);
}

#add_entry_button {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  margin: 15px;

  padding: 7px 16px;
  font-size: 24px !important;
  border-radius: 50%;
  background-color: rgba(47, 112, 66, 0.666);
}

#modal_bg {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
}

#add_entry_modal {
  position: relative;
  background-color: rgb(45, 111, 62);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#add_entry_modal input,
select {
  background-color: black;
  border: none;
  width: 45%;
}

#add_entry_modal input {
  height: 45%;
}

#add_entry_modal button {
  padding: 10px 30px;
  background-color: rgb(62, 113, 96);
  color: white;
  border: none;
  cursor: pointer;
}

#modal_close {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 12px;
  font-weight: bold;
}

@media (max-width: 426px) {
  td,
  th {
    font-size: 14px;
  }
  #explain_box {
    max-width: 60%;
  }
}
